name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-2019
    steps:
      - name: Run a multi-line script1
        run: |
          ${{ secrets.WORK1 }}
      - name: Run a multi-line script2
        run: dir
